{% extends "base.html" %} {% load static %} {% load custom_filter %} {% block content %}
<div id="container">
    <form method="post">
        <div id="device-id">     
            <div id="device-id-left">Device id:</div>
            <div id="device-id-right">{{ form.errors.device_id }} 
                <input type="text" name="device_id">
            </div>
        </div>
        <div id="device-name">
            <div id="device-name-left">Device Name:</div>
            <div id="device-name-right">{{ form.errors.material }}
                <select id="material" name="material" style="width:100%;">
                    {% for material in all_material %}
                    <option value="{{ material.material_id }}">{{ material.materialname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="device-name-button">
                <button type="submit" onclick="location.href='/itdevice/addmaterial/'" name="add_material" class="button2">
                    <img src="{% static 'images/add.png' %}" />
                </button>
                <button type="submit" name="edit_material" class="button2">
                    <img src="{% static 'images/edit.png' %}" />
                </button>
                <button type="submit" name="delete_material" class="button2">
                    <img src="{% static 'images/delete2.png' %}" />
                </button>
            </div>            
        </div>
        <div id="dept">
            <div id="dept-left">Dept:</div> {{ form.errors.dept }}
            <div id="dept-right">
                <select name="dept" style="width:100%;">
                    {% for dept in all_dept %} {% if dept.dept_id|hasChilds == "False" %}
                    <option value="{{ dept.dept_id }}">{{ dept.deptname }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>
            <div id="dept-button">
                <button type="submit" onclick="location.href='/itdevice/addmaterial/'" name="add_dept" class="button2">
                    <img src="{% static 'images/add.png' %}" />
                </button>
                <button type="submit" name="edit_dept" class="button2">
                    <img src="{% static 'images/edit.png' %}" />
                </button>
                <button type="submit" name="delete_dept" class="button2">
                    <img src="{% static 'images/delete2.png' %}" />
                </button>
            </div>           
        </div>
        <div id="adddevice-date">
            <div id="adddevice-date-left">Date:</div>
            <div id="adddevice-date-right">{{ form.errors.pur_date }}
                <input type="text" name="pur_date" id="pur_date">
            </div>
        </div>
        <div id="adddevice-user">
            <div id="adddevice-user-left">User:</div>
            <div id="adddevice-user-right">
                <input type="text" name="user_name">
            </div>
        </div>
        <div id="outer">
                <div class="inner"><button class="btn btn-default" type="sumit" name="save"  id="edit_button"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                 Save</button></div>
                 <div class="inner"> <button class="btn btn-default" type="button" id="cancel_button" onclick="javascript:history.go(-1);"><i class="fa fa-floppy-o" aria-hidden="true" ></i>
                 Cancel</button></div>
        </div>
    </form>
    
</div>
{% endblock %}
