{% extends "base.html" %} {% load static %} {% block content %}
<div id="container">
    <form method="post">
        {% csrf_token %}
        <div id="device-id">
            <div id="device-id-left">Material ID:</div>
            <div id="device-id-right">{{ form.errors.material_id }} 
                <input type="text" name="material_id">
            </div>
        </div>
        <div id="device-name">
            <div id="device-name-left">Material Name:</div>
            <div id="device-name-right">{{ form.errors.materialname }} 
                <input type="text" name="materialname">
            </div>
        </div>
        <div id="dept">
            <div id="dept-left">Type:</div>
            <div id="dept-right">{{ form.errors.type }} 
                <select name="type" style="width:100%;">
                    {% for type in all_type %}
                    <option value="{{ type.type_id }}">{{ type.typename }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="dept-button">
                <button type="submit" onclick="location.href='/itdevice/addmaterial/'" name="add_type" class="button2">
                    <img src="{% static 'images/add.png' %}" />
                </button>
                <button type="submit" name="edit_type" class="button2">
                    <img src="{% static 'images/edit.png' %}" />
                </button>
                <button type="submit" name="delete_type" class="button2">
                    <img src="{% static 'images/delete2.png' %}" />
                </button>
            </div>
        </div>
        <div id="adddevice-save"> <button type="sumit" name="save"  id="edit_button"><i class="fa fa-floppy-o" aria-hidden="true"></i>
 Save</button></div>
    </form>
</div>
{% endblock %}
